.nav{
    background-color: #043290;
    width: 260px!important;
    max-width: 270px;
    /* height: calc(100vh - 119px);
    overflow-x: hidden; */
    overflow-y: auto;
}
/* Scroll bar styles for chrome */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}
.navHeader{
    color: #FFFF;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}
.ligth {
    margin-left: 6px;
    font-size: 19px;
    font-weight: 50;
}
.strong {
    font-size: 20px;
    font-weight: 700;
    font-family: Arial;
}
.bodyContent {
    color: #FFFF;
}
hr {
    color: #043290;
    opacity: .6;
}
ul {
    list-style: none;
    display: flex;
    height: auto;
    height: 100vh;
    flex-direction: column;
    margin: 0px;
    /* overflow-y: auto; */
}
li {
    cursor: pointer;
    display: flex;
    margin-left: -26px;
    margin-top: 20px;
    height: 40px;
    align-items: flex-start;
}
h4 {
    align-self: center;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 300;
}
li:hover {
    background-color: gray;
    opacity: .5;
}


.navIcon{
    position: relative;
    align-self: center;
    color: #FFFF;
}

@media (max-width: 1024px) { 
    .nav{
      display: none;
    }

}